<!-- Footer -->
<footer class="content-wrapper border-t border-white/5 text-center">
    <div
        class="border-t border-[#29382f] pt-6 flex flex-col md:flex-row justify-evenly pb-6 items-center gap-4 text-xs text-gray-500">
        <p class="text-[9px] text-zinc-600 font-bold uppercase tracking-[0.4em]">© 2026 Luxe Time | Defined by
            Excellence</p>
        <div class="flex gap-6">
            <a class="text-[9px] text-zinc-600 font-bold uppercase tracking-[0.4em]" href="#">Privacy Policy</a>
            <a class="text-[9px] text-zinc-600 font-bold uppercase tracking-[0.4em]" href="#">Terms &amp; Conditions</a>
        </div>
    </div>
    </div>
</footer>