<!-- Footer -->
        <div
            class="border-t border-[#29382f] pt-6 flex flex-col md:flex-row justify-evenly pb-6 items-center gap-4 text-xs text-gray-500">
            <p>© 2024 Luxe Time Inc. All rights reserved.</p>
            <div class="flex gap-6">
                <a class="hover:text-white transition-colors" href="#">Privacy Policy</a>
                <a class="hover:text-white transition-colors" href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
