body {
  background-color: #111714;
  color: white;
  font-family: 'Spline Sans', sans-serif;
  font-size: 13px;
}

.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 20;
  vertical-align: middle;
}

.card-bg {
  background: linear-gradient(145deg, #1c2e24, #111714);
  border: 1px solid rgba(56, 224, 123, 0.1);
}

.zoom-container {
  position: relative;
  overflow: hidden;
  cursor: zoom-in;
}

.zoom-container img {
  transition: transform 0.3s ease;
  transform-origin: center center;
}

.zoom-container:hover img {
  transform: scale(1.8);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #38e07b;
  border-radius: 10px;
}
