
<body class="bg-rich-black font-display text-slate-200 transition-colors duration-300">
  <div class="flex min-h-screen w-full flex-col lg:flex-row">
    <div class="flex w-full flex-col justify-center px-6 py-6 lg:w-1/2 lg:px-20 xl:px-32 bg-rich-black">


      <div class="mx-auto w-full max-w-md lg:w-[420px] xl:w-[460px] mt-4 lg:mt-0 animate-fade-in
            bg-card-dark rounded-xl px-6 py-4 shadow-2xl ring-1 ring-white/10">

        <div class="mb-10">
          <h1 class="mb-2 text-center font-bold tracking-tight text-white lg:text-4xl">Login</h1>
          <p class="text-gray-400">Access your orders, wishlist, and exclusive offers.</p>
        </div>
        <form action="#" class="space-y-4">
          <div>
            <label class="mb-2 block text-sm font-medium text-gray-300" for="email">Email Address</label>
            <input
              class="block w-full rounded-full border-border-dark bg-input-dark px-5 py-3 text-white placeholder-gray-500 focus:border-gold-accent focus:bg-input-dark focus:ring-1 focus:ring-gold-accent sm:text-sm transition-all duration-200"
              id="email" name="email" placeholder="Enter your email" required="" type="email" />
          </div>
          <div>
            <label class="mb-2 block text-sm font-medium text-gray-300" for="password">Password</label>
            <input
              class="block w-full rounded-full border-border-dark bg-input-dark px-5 py-3 text-white placeholder-gray-500 focus:border-gold-accent focus:bg-input-dark focus:ring-1 focus:ring-gold-accent sm:text-sm transition-all duration-200"
              id="password" name="password" placeholder="Enter your password" required="" type="password" />
          </div>
          <div class="flex items-center justify-end">
            <a class="text-sm font-medium text-gray-400 hover:underline transition-colors" href="#">Forgot Password?</a>
          </div>
          <button
            class="w-full rounded-full bg-[#38E07B]  px-5 py-3.5 text-center text-sm font-bold text-black shadow-lg hover:bg-white hover:shadow-xl focus:outline-none focus:ring-4 focus:ring-gray-700 transition-all duration-300"
            type="submit">Login</button>
          <div class="relative my-6">
            <div class="absolute inset-0 flex items-center">
              <div class="w-full border-t border-border-dark"></div>
            </div>
            <div class="relative flex justify-center text-sm">
              <span class="bg-rich-black px-4 text-gray-500">OR</span>
            </div>
          </div>
          <div class="grid  gap-4">
            <button
              class="flex w-full items-center justify-center gap-2 rounded-full border border-border-dark bg-input-dark px-5 py-3 text-sm font-medium text-gray-300 hover:bg-gold-accent hover:border-gold-accent hover:text-black transition-colors"
              type="button">
              <svg aria-hidden="true" class="h-5 w-5" viewBox="0 0 24 24">
                <path
                  d="M12.0003 20.45c-4.666 0-8.45-3.784-8.45-8.45 0-4.666 3.784-8.45 8.45-8.45 4.666 0 8.45 3.784 8.45 8.45 0 4.666-3.784 8.45-8.45 8.45z"
                  fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"></path>
                <path
                  d="M17.5252 14.85c.348-.95.538-1.95.538-3 0-4.575-3.553-8.312-8.063-8.45h-.263c-4.666 0-8.45 3.784-8.45 8.45 0 4.666 3.784 8.45 8.45 8.45.65 0 1.288-.075 1.9-.213"
                  fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"></path>
                <path d="M11.5126 9.337l2.875 3.65-2.875 3.638" fill="none" stroke="currentColor" stroke-linecap="round"
                  stroke-linejoin="round" stroke-width="2"></path>
              </svg>
              Google
            </button>

          </div>
          <p class="text-center text-sm font-light text-gray-500">
            Don’t have an account?
            <a class="font-semibold text-white hover:text-gold-accent hover:underline underline-offset-4 transition-colors"
              href="#">Sign Up</a>
          </p>
        </form>
      </div>
      <div class="mt-auto pt-10 lg:hidden">
        <p class="text-center text-xs text-gray-600">© 2024 Luxe Time Inc.</p>
      </div>
    </div>
    <div class="hidden lg:block relative w-1/2 bg-black">
      <div class="absolute inset-0 h-full w-full">
        <img alt="Luxury wristwatch lifestyle" class="h-full w-full object-cover opacity-70"
          data-alt="Close up of a luxury wrist watch on dark background"
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuBYw1JEImZt53rCLsocLo76kNEvPa_w5Cd3fczTBLMC1JkcIdRPekN7GPXHY02HO0pV9hHp0i5vX4j_YiQzxhyiS2kg9W83F8BkN3VmKaEehwxkMNPEZqrE_bNS-ZUhuLdqaxE6XFo_ewLZj3vFDHTs1Gf2WHQHtp6imXWn2RtWHyFpRSoRODoLC04VZ10FmB7LqxU1x0b-jXpeMFAyaQOQ9khFNZhIZfRABrKUQ5ZwU6cR7ahqNNz6GwOSUEIfVOa5s9UHdXJpWtPI" />
        <div class="absolute inset-0 bg-gradient-to-t from-black via-black/50 to-transparent"></div>
        <div class="absolute inset-0 bg-black/20 mix-blend-multiply"></div>
      </div>
      <div class="relative z-10 flex h-full flex-col justify-between p-20 text-white">
        <div class="flex justify-end">
        </div>
        <div class="max-w-lg">
          <!-- <span class="mb-4 inline-block rounded-full border border-white/10 bg-white/5 px-4 py-1.5 text-xs font-medium uppercase tracking-widest text-gold-accent backdrop-blur-md">
                        Premium Collection
                    </span> -->
          <h2 class="font-display text-5xl font-bold leading-tight md:text-6xl">
            Time That <br />
            <span class=" text-[#38E07B] ">Defines You.</span>
          </h2>
          <p class="mt-6 text-lg text-gray-400 font-light max-w-sm">
            Experience the pinnacle of craftsmanship and style. Your journey to timeless elegance begins here.
          </p>
        </div>
        <div class="flex items-center gap-6 text-sm font-medium text-gray-500">
          <p>© 2024 Luxe Time Inc.</p>
          <div class="flex gap-4">
            <a class="hover:text-gold-accent transition-colors" href="#">Privacy</a>
            <a class="hover:text-gold-accent transition-colors" href="#">Terms</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
